.popup__wraper {
  background-color: #fff;
  max-width: 430px;
  width: 100%;
  min-height: 330px;
  position: relative;
  border-radius: 10px;
  opacity: 100%;
  padding: 0 36px 0;
  box-sizing: border-box;
  z-index: 1;
}

@media screen and (max-width: 550px) {
  .popup__wraper{
    max-width: 282px;
    min-height: 322px;
    padding: 0 22px 0;
}
}
