.profile__name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.2;
  max-width: 294px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

@media screen and (max-width: 850px) {
  .profile__name {
    font-size: 27px;
    max-width: 229px;
  }
}

@media screen and (max-width: 635px) {
  .profile__name {
    justify-self: center;
    margin: 28px 0 0px 0;
    max-width: 225px;
    position: relative;
    right: -27px;
  }
}
