.profile__button-add {
  grid-area: button-add;
  background: url('../../../images/button_plus.svg');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  border: none;
  width: 150px;
  height: 50px;
  opacity: 1;
  transition: 0.3s opacity ease-in;
  cursor: pointer;
  margin: 0 0 0 auto;
}

.profile__button-add:hover {
  opacity: 0.6;
}

@media screen and (max-width: 635px) {
  .profile__button-add {
    background: url('../../../images/button_plus_big.svg');
    justify-self: center;
    width: 282px;
    margin-top: 32px;
  }
}

.profile__button-add:focus {
  outline: none;
}
