.header__logo {
  width: 142px;
  height: 33px;
  }

  @media screen and (max-width: 635px) {
    .header__logo  {
      width: 103.74px;
      height: 24.4px;
      margin-left: calc((100% - 282px)/2 + 8px);
      }
  }
