.header {
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding: 45px 0 36px 0;
  box-sizing: border-box;
  }

@media screen and (max-width: 918px) {
  .header {
  padding: 45px 19px 36px 19px;
  }
}

@media screen and (max-width: 635px) {
  .header {
    padding: 28px 0 26px 0;
    }
}
