.element__trash {
  width: 18px;
  height: 19.3px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  border: none;
  opacity: 1;
  transition: 0.3s opacity ease-in;
  cursor: pointer;
  background: url('../../../images/trash.svg');
  position: absolute;
  top: 15px;
  right: 15px;
}

.element__trash:hover {
  opacity: 0.6;
}
