.popup__input {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  min-height: 27px;
  border: none;
  border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
  margin-top: 29px;
}

@media screen and (max-width: 550px) {
  .popup__input {
    margin-top: 27px;
}
}
